/* General Layout */
.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 7%;
    align-items:flex-start ;
}

/* Sidebar */
.sidebar {
    width: 25%;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    color: #003366;
    font-size: 18px;
    border-bottom: 2px solid #003366;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.sidebar ul li a svg {
    margin-right: 14px;
}
section {
  scroll-margin-top: 100px; /* adjust value = header height */
}


/* Content */
.content {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content h2 {
    color: #003366;
    border-bottom: 2px solid #003366;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 1.3rem;
}

.point {
    margin-bottom: 20px;
    text-align: left;
}

.point h3 {
    color: #003366;
    font-size: 1rem;
}
.point p {
    font-size: 0.9rem;
    text-align: justify;
    color: #555;
    line-height: 1.6;
    margin: 10px;
}
.point ul {
  list-style-type: disc;       /* bullet style */
  list-style-position: outside;/* bullets outside text */
  margin: 0;                   /* reset default margin */
  padding-left: 1.5rem;        /* equal indent for bullets */
}

.point ul li {
  margin-bottom: 8px;          /* spacing between points */
  text-align: justify;         /* optional: makes wrapped lines align neatly */
}

/* Responsive Design for 480px */
@media screen and (max-width: 480px) {
    .main-container {
        flex-direction: column;
        padding: 10px;
        padding-top: 17%;
    }

    .sidebar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .sidebar h3 {
        font-size: 1rem !important;
        text-align: center;
    }

    .sidebar ul li {
        text-align: center;
        padding: 8px 0;
    }

    .content {
        width: 100%;
        padding: 0px;
    }

    .content h2 {
        font-size: 0.89rem;
    }

    .point h3 {
        font-size: 0.9rem;
    }

    .point p {
        font-size: 0.7rem;
    }
}
