body {
  overflow-x: hidden;
  font-family: 'Outfit', sans-serif;
}

/*Title */
.maharishi-title {
  font-family: inherit;
  color: #ffffff;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
  text-decoration: underline;
  text-decoration-color:#ffffff;
  text-decoration-thickness: 2px;  
  text-underline-offset:20px;
}
/*#59400D #996600*/

.maharishi-subtitle {
  font-family: sans-serif;
  color: #ffffff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  /* background-color: green;
  color: white;
  padding: 6px 12px;
  font-weight: bold;
  display: inline-block; */
}
.hero-content {
  position: absolute;       /* sit inside the hero image container */
  inset: 0;                 /* stretch to cover full area */
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  /* <-- perfect vertical centering */
  text-align: center;
  padding: 0 1rem;
  max-width: 1100px;
  margin: 0 auto;
}

/* Main title */
.maharishi-title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 800;
  line-height: 0.95;
  text-shadow: 0 6px 20px rgba(0,0,0,0.75);
  letter-spacing: 0.3px;
  font-size: clamp(2.2rem, 7.5vw, 6.5rem); /* responsive font size */
  word-wrap: break-word;
}

/* Subtitle */
.maharishi-subtitle {
  margin: 1rem 0 0;
  color: rgba(255,255,255,0.95);
  text-shadow: 0 2px 6px rgba(0,0,0,0.6);
  font-weight: 500;
  font-size: clamp(0.95rem, 2.5vw, 1.2rem);
  max-width: 750px;
}

/* Single button */
.btn-outline {
  margin-top: 1.5rem;
  display: inline-block;
  padding: 0.65rem 1.5rem;
  border-radius: 9999px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.25s ease;
}

.btn-outline:hover {
  background: #ffffff;
  color: #000000;
}

.home-container {
  text-align: center;
  width: 100%;
  padding-top: 25px;
  box-sizing: border-box;
}

@keyframes slideUpFadeIn {
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes slideUpFadeInSub {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Highlights Section */
.py-5 {
  padding-top: 0rem !important;
  padding-bottom: 3rem !important;
}

.container {
  padding: 50px 0;
}

.container h2 {
  color: #008cb3 !important;
  font-size: 1rem;
  font-weight: 550;
}

.card {
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  height: 100%;
  transform: scale(0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.card-body .btn-primary {
  align-self: center; /* centers the button horizontally */
  margin-top: 1rem !important;
}
.card:hover {
  transform: scale(0.92) translateY(-5px);
}

.card-img-top1 {
  width: 80px;
  height: auto;
  margin: 1rem auto 0 auto;
  display: block;
  object-fit: contain;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: #008cb3;
  margin-top: 1rem;
}

.title-shift {
  margin-left: 2rem;
}

.card-text {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 1000%;
  text-justify: inter-word; /* makes spacing slightly more natural */
}


.custom-color {
  color: #008cb3;
  font-size: 1rem !important;
}

.btn-primary {
  background-color: transparent;
  border: 2px solid #008cb3 !important;
  color: #008cb3;
  font-size: 0.8rem !important;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem !important;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #008cb3;
  color: #fff;
}


@media (max-width: 970px) {
  .container {
    padding: 30px 15px;
  }
  .container h2 {
    font-size: 1.5rem;
    margin-left: 7%;
    text-align: start;
  }
  .col-md-4 {
    width: 100% !important;
    padding: 0 15px;
    margin-bottom: 1rem;
  }
  .card {
    width: 100%;
    margin: auto;
      align-items: center;

  }
  .card-img-top1 {
    width: 60px;
    height: 60px;
    margin: 1rem auto 0 auto;
    display: block;
  }
  .card-title {
    font-size: 1.1rem;
  }
  .card-text {
    font-size: 0.9rem;
  }
  .btn-primary {
    font-size: 0.9rem;
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px 10px;
  }
  .container h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .card-img-top1 {
    display: block;
    margin: 1rem auto 0 auto !important;
    text-align: center !important;
    width: 70px;       /* adjust if you want slightly smaller icons */
    height: auto;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.8rem;
    padding: 0;
  }
  .btn-primary {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    padding: 5px 10px;
  }
  .card{
      align-items: center;

  }
}


/* Latest News Section */
#latest-news {
  position: relative;
  overflow: hidden;
  color: white;
  height:60vh;
 background: linear-gradient(183deg, rgba(0, 0, 0, 0.45) 32%, rgba(0, 0, 0, 0.45) 51%);

}
.learn-more-btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.learn-more-btn:hover {
  background-color: white;
  color: black;
}

.gx-4 {
  gap: 20%;
}

#latest-news video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(4px);
}



#latest-news .container {
  position: relative;
  z-index: 2;
  
}
.section-title {
  font-size: 3rem !important;
  font-weight: 700;
}
.section-description p {
  font-size: 0.5rem;
  margin: 1rem 0;
}


#latest-news p {
  font-size: 1rem;
  text-align: center;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: 1;
}

#latest-news p.right-text.slide-in {
  opacity: 1;
  transform: translateX(0);
}
.text-white{
  padding-top:5rem;
}
.gap-md-custom{
  gap: 15rem;  
}
.gap-md-custom h2{
  font-family: fangsong;
  font-size: 2.5rem !important;
  color:#FFF0E1 !important;
}

#latest-news .btn-primary {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 13px;
  border-radius: 0;
}

#latest-news .btn-primary:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

@media (max-width: 970px) {
  #latest-news {
    height: auto !important;
    padding: 20px 0;
  }
  #latest-news .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0rem;
  }
  #latest-news .col-md-4 {
    width: 100%;
    padding: 10px;
  }
  #latest-news p {
    font-size: 0.8rem;
    margin-top: 20px;
    max-width: 20rem;
    margin-left: 2rem;
    text-align: center;
  }
  #latest-news video {
    filter: blur(2px);
  }
  #latest-news .btn-primary {
    font-size: 12px;
    padding: 8px 16px;
  }
}


@media screen and (max-width: 1366px) {
  section {
    opacity: 1 !important;
  }
}

/*Section Container */
.section-container {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  gap: 50px;
  background-color: #ffffff;
}

.section-container .card {
  display: flex;
  flex-direction: row;
  width: 550px;
  height: 330px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  background: #ffffff;
}

.section-container .card img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.section-container .card-content {
  width: 50%;
  padding: 25px;
  background: #D2B48C;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-container .card-content p {
  font-size: 0.8rem;
  line-height: 1.4;
  margin: 8px 0;
  text-align: center;
}

.section-container .card-content a {
  text-decoration: underline;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.7rem;
  display: block;
  margin-top: 10px;
}

.quote-author {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15px;
}

.quote-position {
  font-size: 0.9rem;
}

@media (max-width: 480px) {
  .section-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    background-color: #e2e2e2;
  }
  .section-container .card {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
  .section-container img {
    width: 150px !important;
    height: auto !important;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    margin-top: 2rem;
  }
  .section-container .card-content {
    width: 100%;
    padding: 20px;
    background: #ffffff;
    color: #5b5b5b;
    text-align: center;
  }
  .section-container .card-content p {
    font-size: 0.7rem;
  }
  .section-container .card-content a {
    font-size: 0.7rem;
    color: #707070;
  }
}

/*announcements */
.latest-announcements {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 12vh;
  margin: 0;
  padding: 0 2rem;
  background-color: #fff;
}

.announcement-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.announcement-card {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width: auto !important;
  max-width: 1000px;
  transition: all 0.3s ease-in-out;
}

.announcement-text {
  display: inline-block;
  white-space: nowrap;
  width: max-content;
  animation: scroll-left 35s linear infinite;
  padding-left: 120px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.announcement-text:hover {
  animation-play-state: paused;
}

@keyframes blink-text {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@media (max-width: 970px) {
  .announcement-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    overflow: hidden;
    gap: 0.3rem;
    margin: 0 !important;
    padding-left: 1rem !important;
  }
  .latest-title {
    padding-bottom: 0.8rem;
        padding-top: 1rem;
        padding-left: 1rem;
        font-size: 0.9rem;
        white-space: nowrap;
        margin: 0 !important;
        line-height: 1;
  }
  .announcement-card {
    width: 100% !important;
    padding: 1rem;
    flex-wrap: wrap;
  }
  .announcement-text {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .announcement-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    overflow: hidden;
    gap: 0.3rem;
    margin: 0 !important;
    padding-left: 1rem !important;
  }
  .latest-title {
    padding-bottom: 0.8rem;
        padding-top: 1rem;
        padding-left: 1rem;
        font-size: 0.9rem;
        white-space: nowrap;
        margin: 0 !important;
        line-height: 1;
  }
  .announcement-card {
    width: 95% !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.8rem;
  }
  .announcement-text {
    font-size: 0.5rem;
    flex: 1 1 60%;
  }
}

@media (max-width: 480px) {
  .latest-announcements {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  .latest-title {
    padding-bottom: 0.8rem;
        padding-top: 1rem;
        padding-left: 1rem;
        font-size: 0.9rem;
        white-space: nowrap;
        margin: 0 !important;
        line-height: 1;
  }
  .d-flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1rem !important;
    width: 100%;
    padding: 0 !important;
  }
  .announcement-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    overflow: hidden;
    gap: 0.3rem;
    margin: 0 !important;
    padding-left: 1rem !important;
  }
  .announcement-card {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem !important;
    margin: 0 !important;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    width: 100% !important;
  }
  .announcement-text {
    font-size: 0.7rem;
    flex: 1;
  }
}


/*tailwind*/

@keyframes ticker {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .animate-ticker {
    animation: ticker 15s linear infinite;
  }
  .animate-ticker:hover {
    animation-play-state: paused;
  }