html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.App-content {
  margin-top: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* For laptop screens and above */
@media (min-width: 1024px) {
  #latest-news .z-10 {
    margin-top: -10px;  /* move content upward */
  }
}
